
.lista {
    display: flex;    
    flex-flow: row wrap ; 
    justify-content: flex-start;
    color: white;
}

.ordenamiento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.btn1{
    width: 100px;
    height: 35px;
    color: white;
    background: rgba( 157, 1, 1, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
}

.btn2{
    width: 100px;
    height: 35px;
    color: white;
    background: rgba( 157, 1, 1, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
}

.btn3{
    width: 100px;
    height: 35px;
    color: white;
    background: rgba( 157, 1, 1, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
}