.TituloLand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.Joystick {
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 50%;
    margin-left: -70px;
}

/* .btnstart{
    cursor: pointer;
    width: 100px;
    height: 45px;
    background-color: black;
    color: white;
} */