.botonespag{
    display: flex;
    flex-flow: row wrap ; 
    justify-content: center;
    align-items: center;
}

.btn{
    cursor: pointer;
    width: 50px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
}