.navbar {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 100;  
}

.navbar nav {
    height: 100%;
}

.list {
    position: relative;
    right: 300px;
    padding: 25px;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 35%;
    text-align: center;
    font: condensed 120% sans-serif;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
        -4px 0 0 #df4a42,
        2px 0 0 #91fcfe,
        4px 0 0 #4405fc;
}

.list-item {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.list-item a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration:none;
}

.list-item a:hover,
.list-item a.active {
    background-color: #fbda1eda;
    color: white;
}

.list-create {
    position: relative;
    right: 650px;
    padding: 25px;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 35%;
    text-align: center;
    font: condensed 120% sans-serif;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
        -4px 0 0 #df4a42,
        2px 0 0 #91fcfe,
        4px 0 0 #4405fc;
}

.list-item-create {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.list-item-create a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration:none;
}

.list-item-create a:hover,
.list-item-create a.active {
    background-color: #fbda1eda;
    color: white;
}

